//- style
//-   #remoteVideos video
//-       height: 150px
//-   #localVideo
//-       height: 150px

style.
  #remoteVideos video {
    height: 150px;
  }
  #localVideo {
    height: 150px;
  }
video#localVideo
#remoteVideos

script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
script(src='/simplewebrtc.js')

script.
  var webrtc = new SimpleWebRTC({
    // the id/element dom element that will hold "our" video
    localVideoEl: 'localVideo',
    // the id/element dom element that will hold remote videos
    remoteVideosEl: 'remoteVideos',
    // immediately ask for camera access
    autoRequestMedia: true
  });

  // we have to wait until it's ready
  webrtc.on('readyToCall', function () {
    // you can name it anything
    webrtc.joinRoom('overtwit');
  });
